/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --success: 141, 61%, 41%;
  --success-foreground: 0, 0%, 100%;
}

body {
  background-color: #eff2f7;
  font-size: 16px;
  color: #2e302f;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.gm-style iframe + div {
  border: none !important;
}

.editing-point {
  transition: transform 0.2s ease-in-out;
  animation: editing-point 0.5s infinite alternate;
  will-change: transform;
}

@keyframes editing-point {
  0% {
    transform: translate3d(0, 10px, 0);
  }

  100% {
    transform: translate3d(0, 4px, 0);
  }
}
